nav {
    min-height: 70px;
    background-color: #EB5B00;
}

#container-result-card {
    border: 8px solid #EB5B00;
}
#container-result-card h1 {
    border-bottom: 8px solid #EB5B00;
    background-color: #EB5B00;

}

.wrapper-register {
    border: 5px solid #EB5B00;
}

.wrapper-register h2 {
    background-color: #EB5B00;
}
.btn-register, .btn-login {
    background-color: #EB5B00;
    color: #ffffff;
}
/* nav ul li a {
color: #ffffff;
} */