nav {
    min-height: 70px;
    background-color: #EB5B00;
}

#container-result-card {
    border: 8px solid #EB5B00;
}
#container-result-card h1 {
    border-bottom: 8px solid #EB5B00;
    background-color: #EB5B00;

}
/* nav ul li a {
color: #ffffff;
} */