* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f7f8f9;
  /* --secondary: #484848; */
  --accent-red: #cf0a0a;
  /* --accent-blue: #0d6efd; */
}

@media (max-width: 991px) {
  .sidebar {
    background-color: var(--primary);
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(5px); */
  }
}

/* hero */

.hero {
  height: 100vh;
  background-image: url("../img/bg-nihongoqz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* checkbox trigger tabs */
#main-kana {
  display: none;
}
#main-kana:checked ~ .btn-red {
  background-color: var(--accent-red);
  color: var(--primary);
}
#dakuten {
  display: none;
}
#dakuten:checked ~ .btn-red {
  background-color: var(--accent-red);
  color: var(--primary);
}
/* red text */
.text-red {
  color: var(--accent-red);
}
/* red button */
.active-btn-red {
  background-color: var(--accent-red);
  color: var(--primary);
  border: 2px solid var(--accent-red);
  border-radius: 6px;
}
.active-btn-red:hover {
  background: none;
  color: var(--accent-red);
  border: 2px solid var(--accent-red);
  border-radius: 6px;
}
.btn-red {
  background: none;
  border: 2px solid var(--accent-red);
  border-radius: 6px;
}
.btn-red:hover {
  background-color: var(--accent-red);
  color: var(--primary);
}
/* .container-quiz {
  display: none;
} */
/* .content-main-kana {
  display: none;
} */
.container-quiz .card-quiz {
  width: 200px;
  height: 200px;
}
/* register.php */
.container-register {
  max-width: 600px;
}
.content-main-kana {
  display: none;
}
.content-dakuten {
  display: none;
}
.content-combination {
  display: none;
}
.btn-start {
  display: none;
}
/* CLASSLIST FOR CONTENT SELECT KANA */
